nav svg {
    width: 55%;
    fill: white;
}

nav {
    background-color: #f72210;
    z-index: 4;
}

header {
    height: 150px;
}

.navigation{
    position: relative;
    top: 110px;
}

a {
color: #000;
}

.navigation li a:hover{
    text-decoration: none;
    color: red !important;
}

.subscribe {
    z-index: 10;
}

.subscribe a {
    color: white;
}

.fold:after {
    content: '';
    position: absolute;
    width: 100%; height: 200%;
    top: 200px; right: -1000px;
    background: #f72210;
    transform-origin: 54% 10;
    transform: rotate(45deg);
    z-index: 1;
}

.trending-topics  li a{
color: #646262;
}

.trending-topics-wrapper {
    z-index: 3;
}

@media (max-width: 768px) {
    .justify-xs-left {
        justify-content: start;
    }
}