nav svg {
    width: 55%;
    fill: white;
}

nav {
    background-color: #f72210;
    height: 110px;
    z-index: 10;
}

header {
    height: 150px;
}

main {
    top: 100px;
    height: 1000px;
    position: relative;
}

.image {
    position: relative;
}

.category {
    position: absolute;
    bottom: 0;
    background: rgba(255, 255, 255, .9);
}

.category a {
    color: red;
    font-weight: bolder;
}

.featured-stories img {
    width: 100%;
}

.navigation{
    position: relative;
    top: 110px;
}

a {
color: #000;
}

.navigation li a:hover{
    text-decoration: none;
    color: red !important;
}

.subscribe {
    z-index: 10;
}

.subscribe a {
    color: white;
}
 
.fold:after {
    content: '';
    position: absolute;
    width: 5%; height: 10px;
    top: 2px; right: 10px;
    background: #f72210;
    transform-origin: 54% 10;
    transform: rotate(45deg);
    z-index: 1;
} 

.trending-topics  li a{
    color: #646262;
}

.top-story-img img{
    width: 100%;
}

picture img{
    width: 100%;
}

.culture-stories a {
    color: gray;
    text-decoration: none;
}

@media (max-width: 768px) {
    .justify-xs-left {
        justify-content: start;
    }
}